plan.aux
plan.log
plan.out
plan.pdf
texput.log
.plan.tex.swp
.~lock.plan.odt#
plan.m~
generated_mv_frontier-eps-converted-to.pdf
generated_mv_frontier.eps
generated_weights.tex
generated_constants.tex
.references.bib.swp
plan.bbl
plan.bcf
plan.blg
plan.run.xml
plan.tex.bbl
plan.tex.blg
